
html,
body {margin:0;padding:0;}
html {scroll-behavior: smooth;font-family:'NanumSquareRound';}

/* Scrollbar Style */
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);background-color:#F5F5F5;}
::-webkit-scrollbar{width:5px;background-color:#F5F5F5;}
::-webkit-scrollbar-thumb{background-color:#156fb9;border-radius:0;}

.wrap {position:relative;width:100%;min-height:100vh;}

.main_visual {position:relative;margin:0 auto;max-width:2543px;max-height:1280px;overflow:hidden;background:url(../img/main_visual_bg.webp) 50% 0 repeat-x;}

.main_visual_characters {display:flex;justify-content:center;}
.main_visual_logo {text-align:center;}
.main_visual_text {position:absolute;bottom:256px;left:50%;margin-left:-600px;z-index:3;}
.main_visual_btns {position:absolute;bottom:270px;left:50%;width:815px;margin-left:-407px;z-index:4;display:flex;justify-content: space-between;}
.main_visual_holo {position:absolute;bottom:0;left:0;right:0;height:456px;background:url(../img/main_visual_holo.webp) 50% 0 no-repeat;z-index:2;}
.main_visual_holo_m {display:none;}
.holo_arrow {display:block;position:absolute;bottom:115px;left:50%;margin-left:-25px;width:51px;height:62px;background:url(../img/main_visual_arrows.webp) 0 0 no-repeat;z-index:3;font-size:0;text-indent:-999;overflow:hidden;}

.main_nav {position:fixed;top:0;left:0;right:0;background-color:#49d0f9;height:94px;padding:0 80px;display:none;justify-content:space-between;align-items:center;max-width:2543px;margin:0 auto;box-sizing:border-box;font-size:0;z-index:10;}
.main_nav.on {display:flex;}

.main_nav .nav_items a {position:relative;display:inline-block;margin:0 20px;padding:10px 0;font-size:23px;font-weight:bold;color:#fff;text-decoration:none;text-transform:uppercase;}
.main_nav .nav_items a:hover:before {content:"";width:14px;height:17px;position:absolute;top:13px;left:-20px;background:url(../img/nav_item_o.webp) 0 0 no-repeat;}


.main_form {display:flex;justify-content:center;font-size:0;overflow:hidden;max-width:2543px;margin:0 auto;height:1605px;background:url(../img/main_form_bg.webp) 50% 0 no-repeat;}
.main_form .form_top,
.main_form .form_bottom {display:none;}

.main_form form {margin-top:550px;}
.main_form .form_input input {width:1196px;border:5px solid #020507;border-radius:30px;margin-left:85px;height:87px;box-sizing:border-box;text-align:center;font-size:45px;color:#a6dced;font-weight:bold;}
.main_form .form_input input::placeholder {color:#a6dced;}

.main_form .form_agree {margin-top:77px;margin-left:145px;}
.main_form .form_agree .agree_item input[type="checkbox"] {display:none;}
.main_form .form_agree .agree_item label {display:inline-block;line-height:60px;font-size:23px;vertical-align:middle;cursor:pointer;}
.main_form .form_agree .agree_item label span {display:inline-block;border-bottom:2px solid #e2edf2;line-height:50px;color:#999999;vertical-align:middle;}
.main_form .form_agree .agree_item label a {display:inline-block;color:#6bacf0;text-decoration:none;}
.main_form .form_agree .agree_item label a:hover {text-decoration:underline;}
.main_form .form_agree .agree_item label:before {content:"";margin-right:20px;width:50px;height:50px;display:inline-block;background:url(../img/form_checkbox.webp) 0 0 no-repeat;vertical-align:middle;}
.main_form .form_agree .agree_item input[type="checkbox"]:checked + label:before {background-image:url(../img/form_checkbox_o.webp);}

.main_form .form_btn {margin-top:80px;margin-left:68px;}
.main_form .form_btn button {border:0 none;width:785px;height:203px;background:transparent url(../img/main_form_btn.webp) 0 0 no-repeat;cursor:pointer;}
.main_form .form_btn button.on {background-image:url(../img/main_form_btn_o.webp);}

.main_rewards {display:flex;justify-content:center;align-items:center;flex-direction:column;font-size:0;overflow:hidden;max-width:2543px;height:1417px;margin:0 auto;background:url(../img/main_rewards_bg.webp) 50% 0 no-repeat;}

.reward_box {display:flex;justify-content:space-between;margin-top: 113px;margin-left: 162px;}
.reward_box .reward_item {margin:0 2px;width:200px;height:251px;background:url(../img/reward_item.webp) 0 0 no-repeat;}
.reward_box .reward_item.complate {background-image:url(../img/reward_item_c.webp);}
.reward_box .reward_item img {display:none;}
.reward_complate {margin-top:25px;margin-left: 220px;width:1109px;height:254px;background:url(../img/reward_item_all.webp) 0 0 no-repeat;}
.reward_complate img {display:none;}
.reward_complate.complate {background-image:url(../img/reward_item_all_c.webp);}
.reward_area {display:none;}
.reward_c {display:none;}

.main_media {display:flex;justify-content:center;align-items:center;flex-direction:column;font-size:0;overflow:hidden;max-width:2543px;height:1438px;margin:0 auto;background:url(../img/main_media_bg.webp) 50% 0 no-repeat;}
.media_box {display:flex;margin-top:65px;}
.media_item {width:395px;height:741px;background-position:0 0;background-repeat:no-repeat;cursor:pointer;}
.media_item.media1 {background-image:url(../img/media_item_1.webp);}
.media_item.media2 {background-image:url(../img/media_item_2.webp);}
.media_item.media3 {background-image:url(../img/media_item_3.webp);}
.media_item.media4 {background-image:url(../img/media_item_4.webp);}
.media_item.media5 {background-image:url(../img/media_item_5.webp);}
.media_item.media1:hover {background-image:url(../img/media_item_1_o.webp);animation:blur .3s;}
.media_item.media2:hover {background-image:url(../img/media_item_2_o.webp);animation:blur .3s;}
.media_item.media3:hover {background-image:url(../img/media_item_3_o.webp);animation:blur .3s;}
.media_item.media4:hover {background-image:url(../img/media_item_4_o.webp);animation:blur .3s;}
.media_item.media5:hover {background-image:url(../img/media_item_5_o.webp);animation:blur .3s;}
.main_media .media_top,
.main_media .media_bottom {display:none;}
@keyframes blur {
    0% {opacity:.5;filter:grayscale(1);}
    100% {opacity:1;filter:grayscale(0);}
}
.main_footer {background-color:#eaeaea;padding-bottom:40px;}
.main_footer .footer_link_box {border-bottom:1px solid #dbdbdb;}
.main_footer .footer_links {max-width:1280px;margin:0 auto;}
.main_footer .footer_links:after {content:"";display:block;clear:both;}
.main_footer .footer_links a {position:relative;display:block;float:left;width:25%;box-sizing:border-box;line-height:42px;text-align:center;text-decoration:none;color:#aaaaaa;font-size:17px;}
.main_footer .footer_links a:hover {color:#676767;}
.main_footer .footer_links a:after {content:"";position:absolute;bottom:0;right:0;width:1px;height:10px;background-color:#dbdbdb;}
.main_footer .footer_links a:last-child:after {display:none;}
.main_footer .footer_logo {text-align:center;padding:60px 0;}
.main_footer .footer_logo img {opacity:.25;}
.main_footer p {margin:0;padding:0;font-size:17px;line-height:20px;text-align:center;color:#aaa;}

.main_aside_left {position:fixed;top:50%;left:0;width:117px;height:601px;background:url(../img/aside_bg.webp) 0 0 no-repeat;margin-top:-300px;z-index:11;}
.main_aside_left .aside_items {display:flex;flex-direction:column;justify-content:space-between;padding:7px 0;}
.main_aside_left .aside_item {width:100px;height:97px;background-position:50% 50%;background-repeat:no-repeat;margin-left:5px;cursor:pointer;transition:background-color .3s;border-bottom:2px dotted #fff;box-sizing:border-box;}
.main_aside_left .aside_item:first-child {border-radius:0 45px 0 0;}
.main_aside_left .aside_item:last-child {border-radius:0 0 45px 0;border-bottom:0 none;}
.main_aside_left .aside_item.discode {background-image:url(../img/aside_discode.webp);}
.main_aside_left .aside_item.discode:hover {background-color:#6cadee;}
.main_aside_left .aside_item.youtube {background-image:url(../img/aside_youtube.webp);}
.main_aside_left .aside_item.youtube:hover {background-color:#6cadee;}
.main_aside_left .aside_item.twitter {background-image:url(../img/aside_twitter.webp);}
.main_aside_left .aside_item.twitter:hover {background-color:#6cadee;}
.main_aside_left .aside_item.steam {background-image:url(../img/aside_steam.webp);}
.main_aside_left .aside_item.steam:hover {background-color:#6cadee;}
.main_aside_left .aside_item.facebook {background-image:url(../img/aside_facebook.webp);}
.main_aside_left .aside_item.facebook:hover {background-color:#6cadee;}
.main_aside_left .aside_item.sb {background-image:url(../img/aside_sb.webp);}
.main_aside_left .aside_item.sb:hover {background-color:#6cadee;}

.main_aside_right {position:fixed;bottom:100px;right:0;z-index:11;}
.main_aside_right .aside_items:after {content:"";display:block;clear:both;}
.main_aside_right .aside_item {display:block;background-position:100% 100%;background-repeat:no-repeat;width:135px;height:48px;transition:width .3s;margin-top:10px;cursor:pointer;}
.main_aside_right .aside_item.movie {background-image:url(../img/aside_movie.webp);}
.main_aside_right .aside_item.movie:hover {background-image:url(../img/aside_movie_o.webp);}
.main_aside_right .aside_item.music {background-image:url(../img/aside_music.webp);}
.main_aside_right .aside_item.music:hover {background-image:url(../img/aside_music_on.webp);}
.main_aside_right .aside_item.music.off:hover {background-image:url(../img/aside_music_off.webp);}
.main_aside_right .aside_item.top {background-image:url(../img/aside_top.webp);}
.main_aside_right .aside_item.top:hover {background-image:url(../img/aside_top_o.webp);}


.media_pop {position:fixed;top:0;left:0;right:0;bottom:0;display:none;z-index:13;}
.media_pop.on {display:block;}
.media_pop:after {content:"";position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.8);z-index:11;}

.media_pop .pop_body {position:fixed;top:0;left:0;right:0;bottom:0;background-repeat:repeat-x;background-position:50% 50%;z-index:12;}
.media_pop .pop_close {position:absolute;top:50%;left:50%;margin:-370px 0 0 600px;background-color:transparent;border:0 none;padding:0;cursor:pointer;z-index:5;}
.media_pop .pop_ctn {position:absolute;top:50%;left:50%;width:945px;height:290px;margin: -131px 0 0 -323px;padding:30px 55px 30px 55px;box-sizing:border-box;font-size:23px;line-height:33px;color:#666;overflow:auto;z-index:3;}
.media_pop .pop_ctn .pop_ctn_area {display:none;}
.media_pop .pop_btn_go {position:absolute;top:50%;left:50%;margin:120px 0 0 350px;cursor:pointer;display:block;z-index:31;}

.media_pop .pop_bg_line {position:relative;height:627px;background:url(../img/pop_bg_line.webp) 0 0 repeat-x;z-index:1;}
.media_pop .pop_bg {position:absolute;top:50%;left:0;right:0;height:627px;margin-top:-313px;}
.media_pop.media1 .pop_bg {background:#4ed2f7;background:linear-gradient(90deg, #4ed2f7 0%, #32bfff 100%);}
.media_pop.media2 .pop_bg {background:#856edd;background:linear-gradient(90deg, #856edd 0%, #423795 100%);}
.media_pop.media3 .pop_bg {background:#ea8d4a;background:linear-gradient(90deg, #ea8d4a 0%, #e7571c 100%);}
.media_pop.media4 .pop_bg {background:#d65f8c;background:linear-gradient(90deg, #d65f8c 0%, #4b1154 100%);}
.media_pop.media5 .pop_bg {background:#edd96b;background:linear-gradient(90deg, #edd96b 0%, #bd8b26 100%);}

.media_pop .pop_media_img {position:absolute;top:0;left:50%;bottom:0;max-height:100vh;background-position:0 50%;background-repeat:no-repeat;z-index:2;}
.media_pop.media1 .pop_media_img {width:1781px;height:1263px;background-image:url(../img/pop_media_1.webp);margin-left:-1141px;}
.media_pop.media2 .pop_media_img {width:1803px;height:1338px;background-image:url(../img/pop_media_2.webp);margin-left:-1163px;}
.media_pop.media3 .pop_media_img {width:1778px;height:1517px;background-image:url(../img/pop_media_3.webp);margin-left:-1138px;}
.media_pop.media4 .pop_media_img {width:1869px;height:1349px;background-image:url(../img/pop_media_4.webp);margin-left:-1231px;}
.media_pop.media5 .pop_media_img {width:1606px;height:1301px;background-image:url(../img/pop_media_5.webp);margin-left:-966px;}



@media (max-width:1024px) {

    .main_visual {max-width:100%;max-height:none;background:url(../img/m/visual_bg.webp) 0 0 no-repeat;background-size:100% auto;}

    .main_visual_logo {display:none;}
    .main_visual_characters {display:none;}
    .main_visual_text {display:none;}
    .main_visual_text_m {display:block;position:absolute;bottom:28%;z-index:2;left:0;right:0;}
    .main_visual_text_m img {width:100%;}
    .main_visual_btns {max-width:100%;width:auto;left:14%;right:14%;margin-left:0;column-gap:5px;bottom:24%;}
    .main_visual_btns img {width:100%;}
    .main_visual_holo {display:none;}
    .main_visual_holo_m {display:block;position:absolute;bottom:0;left:0;width:100%;}
    .main_visual_holo_m img {width:100%;}
    .main_visual_area img {width:100%;}
    .holo_arrow {bottom: 28px;margin-left: -15px;width: 30px;height: 40px;background-size: 100%;}

    .main_nav,
    .main_nav.on {display:none;}

    .main_form {position:relative;background:url(../img/m/form_bg.webp) 0 100% no-repeat;background-size:cover;max-width:100%;max-height:none;width:100%;flex-direction:column;width:auto;height:auto;margin:0;font-size:0;}
    .main_form .form_top,
    .main_form .form_bottom {display:block;}
    .main_form .form_top img,
    .main_form .form_bottom img {width:100%;}
    .main_form form {padding:0 20px;margin-top:0;}
    .main_form .form_input input {width:100%;border-width:3px;margin-left:0;height:40px;font-size:16px;border-radius:10px;}
    .main_form .form_agree {margin:15px 0 0 0;background-color:#ebf3f6;border-radius:10px;padding:15px;}
    .main_form .form_agree .agree_item label {position:relative;line-height:40px;min-height:42px;border-bottom:2px solid #e2edf2;display:flex;align-items:center;}
    .main_form .form_agree .agree_item label:before {position:absolute;top:50%;left:0;width:24px;height:24px;background-size:100%;margin-right:10px;margin-top:-12px;}
    .main_form .form_agree .agree_item label span {font-size:13px;line-height:15px;padding:5px 0 5px 35px;box-sizing:border-box;border:0 none;}
    .main_form .form_btn {margin:10px -10px 0 -10px;}
    .main_form .form_btn button {width:100%;background-size:100%;padding:0;height:auto;}
    .main_form .form_btn button img {width:100%;}

    .main_media {width:100%;height:auto;background-image:url(../img/m/media_bg.webp);background-size:cover;}
    .main_media .media_top,
    .main_media .media_bottom {display:block;}
    .main_media .media_top img,
    .main_media .media_bottom img {width:100%;}

    .media_box {flex-direction:column;padding:0 15px 30px 15px;margin-top:0;}
    .media_item {height:auto;width:100%;background-size:100%;margin-top:15px;}
    .media_item_area {width:100%;}
    .media_item.media1 {background-image:url(../img/m/media_item_1.webp);margin-top:0;}
    .media_item.media1:hover {background-image:url(../img/m/media_item_1.webp);}
    .media_item.media2 {background-image:url(../img/m/media_item_2.webp);}
    .media_item.media2:hover {background-image:url(../img/m/media_item_2.webp);}
    .media_item.media3 {background-image:url(../img/m/media_item_3.webp);}
    .media_item.media3:hover {background-image:url(../img/m/media_item_3.webp);}
    .media_item.media4 {background-image:url(../img/m/media_item_4.webp);}
    .media_item.media4:hover {background-image:url(../img/m/media_item_4.webp);}
    .media_item.media5 {background-image:url(../img/m/media_item_5.webp);}
    .media_item.media5:hover {background-image:url(../img/m/media_item_5.webp);}


    .main_rewards {position:relative;display:block;background-image:url(../img/m/reward_bg.webp);background-size:100%;width:100%;height:auto;}
    .reward_box {position:absolute;top: 25%;left:8%;right:8%;display:block;margin:0;}
    .reward_box .reward_item {margin:0;width:100%;height:auto;background:url(../img/m/reward_item.webp) 0 0 no-repeat;background-size:100%;margin-top:5px;}
    .reward_box .reward_item.complate {background-image:url(../img/m/reward_item_c.webp);}
    .reward_box .reward_item img {display:block;width:100%;}
    .reward_complate {position:absolute;left:8%;right:8%;bottom: 17%;margin:0;width:auto;height:auto;background-image:url(../img/m/reward_item_all.webp);background-size:100%;}
    .reward_complate.complate {background-image:url(../img/m/reward_item_all_c.webp);}
    .reward_complate img {display:block;width:100%;}
    .reward_area {display:block;}
    .reward_area img {width:100%;}
    .reward_c {position:absolute;display:block;width:100%;height:100%;left:0;bottom:0;background:url(../img/m/reword_kiria.webp) left bottom no-repeat;background-size:58%;}

    .media_pop {z-index:30;}
    .media_pop .pop_close {top:15px;right:15px;left:auto;margin:0;}
    .media_pop .pop_close img {width:30px;}
    .media_pop .pop_body {background:none !important;}
    .media_pop .pop_bg {display:none;}
    .media_pop .pop_media_img {position:fixed;width:100% !important;height:100vh !important;margin-left:0 !important;left:0;right:0;top:0;bottom:0;background-size:100%;z-index:3;background-position:50% 50%;}
    .media_pop.media1 .pop_media_img {background-image:url(../img/m/pop_media_1.webp);}
    .media_pop.media2 .pop_media_img {background-image:url(../img/m/pop_media_2.webp);}
    .media_pop.media3 .pop_media_img {background-image:url(../img/m/pop_media_3.webp);}
    .media_pop.media4 .pop_media_img {background-image:url(../img/m/pop_media_4.webp);}
    .media_pop.media5 .pop_media_img {background-image:url(../img/m/pop_media_5.webp);}
    .media_pop .pop_ctn {left:8%;right:8%;margin:-20px 0 0 0;padding:0;width:auto;height:auto;font-size:14px;top:50%;transform:translateY(-50%);}
    .media_pop .pop_ctn span {position:absolute;width:100%;height:100%;font-size:14px;line-height:18px;}
    .media_pop .pop_ctn .pop_ctn_area {display:block;}
    .media_pop .pop_ctn .pop_ctn_area img {width:100%;}
    .media_pop .pop_btn_go {margin:35px 0 0 0;display:block;left:55%;right:7%;}
    .media_pop .pop_btn_go img {width:100%;}

    .main_aside_left {display:none;}

    .main_nav_m {position:fixed;top:0;left:0;right:0;z-index:15;}
    .main_nav_m.active {bottom:0;background-color:#3672af;height:100vh;}
    .main_nav_m .nav_head {height:50px;display:flex;justify-content:space-between;background-color:#418bd5;padding:0 5px 0 0;}
    .main_nav_m .nav_logo {display:inline-flex;align-items:center;font-size:0;}
    .main_nav_m .nav_logo img {height:50px;}
    .main_nav_m .nav_btn {width:50px;height:50px;background:url(../img/m/icon_gnb.webp) 50% 50% no-repeat;background-size:90%;}
    .main_nav_m .nav_btn.active {background-image:url(../img/m/icon_gnb_close.webp);}
    .main_nav_m .nav_body {display:none;height:calc(100vh - 42px);}
    .main_nav_m .nav_items {padding:0 15px;}
    .main_nav_m .nav_items a {display:block;font-size:18px;font-weight:600;text-align:center;text-decoration:none;color:#fff;line-height:50px;border-bottom:1px solid #5495d5;}
    .main_nav_m.active .nav_body {display:block;}

    .main_nav_m .aside_items {position:relative;display:flex;margin:20px 18px 0 15px;padding:5px 0;background-color:#4f9fef;box-shadow:2px 2px 0 2px #fff;border-radius:20px;}
    .main_nav_m .aside_item {width:100%;height:50px;background-position:50% 50%;background-repeat:no-repeat;border-left:2px dotted #fff;box-sizing:border-box;background-size:50%;}
    .main_nav_m .aside_item.discode {background-image:url(../img/aside_discode.webp);}
    .main_nav_m .aside_item.youtube {background-image:url(../img/aside_youtube.webp);}
    .main_nav_m .aside_item.twitter {background-image:url(../img/aside_twitter.webp);}
    .main_nav_m .aside_item.steam {background-image:url(../img/aside_steam.webp);}
    .main_nav_m .aside_item.facebook {background-image:url(../img/aside_facebook.webp);}
    .main_nav_m .aside_item.sb {background-image:url(../img/aside_sb.webp);border-left:0 none;}

    .main_footer .footer_links a  {font-size:12px;height:42px;line-height:15px;display:flex;justify-content:center;align-items:center;padding:0 5px;}
    .main_footer .footer_logo {padding:30px 0;}
    .main_footer .footer_logo img {width:40%;}
    .main_footer p {font-size:12px;padding:0 15px;}


    .main_aside_right {position:fixed;bottom:auto;top:70px;right:0;z-index:11;}
    .main_aside_right .aside_item {display:block;background-position:0 0;width:55px;height:35px;margin-top:5px;cursor:pointer;background-size:auto 100%;}
    .main_aside_right .aside_item.movie,
    .main_aside_right .aside_item.movie:hover {background-image:url(../img/m/btn_movie.webp);}
    .main_aside_right .aside_item.music,
    .main_aside_right .aside_item.music:hover {background-image:url(../img/m/btn_music.webp);}
    .main_aside_right .aside_item.music.off,
    .main_aside_right .aside_item.music.off:hover {background-image:url(../img/m/btn_music.webp);filter:grayscale(1);}
    .main_aside_right .aside_item.top,
    .main_aside_right .aside_item.top:hover {background-image:url(../img/m/btn_top.webp);}


}