
html,
body {margin:0;padding:0;}
html {scroll-behavior: smooth;}

/* Scrollbar Style */
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);background-color:#F5F5F5;}
::-webkit-scrollbar{width:5px;background-color:#F5F5F5;}
::-webkit-scrollbar-thumb{background-color:#156fb9;border-radius:0;}

  

.wrap {position:relative;width:100%;min-height:100vh;}

.main_visual {position:relative;margin:0 auto;max-width:2543px;max-height:1280px;overflow:hidden;background:url(../img/main_visual_bg.png) 50% 0 repeat-x;}

.main_visual_characters {display:flex;justify-content:center;}
.main_visual_logo {text-align:center;}
.main_visual_text {position:absolute;bottom:256px;left:50%;margin-left:-600px;z-index:3;}
.main_visual_holo {position:absolute;bottom:0;left:0;right:0;height:456px;background:url(../img/main_visual_holo.png) 50% 0 no-repeat;z-index:2;}
.main_visual_holo .holo_arrow {display:block;position:absolute;bottom:115px;left:50%;margin-left:-25px;width:51px;height:62px;background:url(../img/main_visual_arrows.png) 0 0 no-repeat;z-index:3;font-size:0;text-indent:-999;overflow:hidden;}

.main_nav {position:sticky;top:0;background-color:#49d0f9;height:94px;padding:0 80px;display:flex;justify-content:space-between;align-items:center;max-width:2543px;margin:0 auto;box-sizing:border-box;font-size:0;}

.main_nav .nav_items a {display:inline-block;padding:10px 20px;font-size:20px;font-weight:bold;color:#fff;text-decoration:none;}


.main_form {display:flex;justify-content:center;font-size:0;overflow:hidden;max-width:2543px;margin:0 auto;height:1605px;background:url(../img/main_form_bg.png) 50% 0 no-repeat;}

.main_form form {margin-top:550px;}
.main_form .form_input input {width:1196px;border:5px solid #020507;border-radius:30px;margin-left:85px;height:87px;box-sizing:border-box;}
.main_form .form_agree {margin-top:77px;margin-left:145px;}
.main_form .form_agree .agree_item input[type="checkbox"] {display:none;}
.main_form .form_agree .agree_item label {display:inline-block;line-height:60px;font-size:23px;vertical-align:middle;cursor:pointer;}
.main_form .form_agree .agree_item label span {display:inline-block;border-bottom:2px solid #e2edf2;line-height:50px;color:#999999;vertical-align:middle;}
.main_form .form_agree .agree_item label a {display:inline-block;color:#6bacf0;text-decoration:none;}
.main_form .form_agree .agree_item label a:hover {text-decoration:underline;}
.main_form .form_agree .agree_item label:before {content:"";margin-right:20px;width:50px;height:50px;display:inline-block;background:url(../img/form_checkbox.png) 0 0 no-repeat;vertical-align:middle;}
.main_form .form_agree .agree_item input[type="checkbox"]:checked + label:before {background-image:url(../img/form_checkbox_o.png);}

.main_form .form_btn {margin-top:80px;margin-left:68px;}
.main_form .form_btn button {border:0 none;width:785px;height:203px;background:transparent url(../img/main_form_btn.png) 0 0 no-repeat;cursor:pointer;}
.main_form .form_btn button:hover {background-image:url(../img/main_form_btn_o.png);}

.main_rewards {display:flex;justify-content:center;font-size:0;overflow:hidden;max-width:2543px;margin:0 auto;}
.main_media {display:flex;justify-content:center;font-size:0;overflow:hidden;max-width:2543px;margin:0 auto;}
